@charset "UTF-8";
/*! minireset.css v0.0.5 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
  text-align: left;
}

html, body {
  margin: 0;
  background-color: #eeeeee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
}

.img {
  box-shadow: 1px 1px 10px grey;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(168, 48, 48, 0.5);
  }
  70%, 100% {
    box-shadow: 0 0 0 10px rgba(168, 48, 48, 0);
  }
}
@keyframes popin {
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
  }
}
.bg-violet {
  background-color: #654da8;
}

nav-color {
  border-color: transparent;
}

#search1 {
  display: block;
  border-radius: 20px;
}

nav a {
  color: #654da8;
  text-decoration: none;
  transition: all 0.3s;
}
nav a:hover {
  color: #3b2d62;
  transition: all 0.3s;
}

input {
  outline: none;
}

input[type=search] {
  font-family: inherit;
  font-size: 100%;
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

input:-moz-placeholder {
  color: #fff;
}

input::-webkit-input-placeholder {
  color: #fff;
}

#mainsearch input[type=search] {
  width: 15px;
  color: transparent;
  cursor: pointer;
  background: transparent url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 10px center;
  border: solid 0px #ccc;
  padding: 9px 12px 9px 10px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 20px;
}
#mainsearch input[type=search]:hover {
  box-shadow: 0px 0px 10px black;
}
#mainsearch input[type=search]:focus {
  width: 250px;
  color: #000;
  cursor: auto;
  background: #fff url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 240px center;
  box-shadow: 0px 0px 10px black;
}

#mainsearch input:-moz-placeholder {
  color: transparent;
}

#mainsearch input::-webkit-input-placeholder {
  color: transparent;
}

.fax {
  font-size: 23px;
}

.notif-marge {
  font-size: 22px;
  padding-left: 10px;
  margin: 10px;
}

.notif-new-old {
  font-size: 12px;
  padding-left: 20px;
  text-transform: uppercase;
}

.dropdown-menu {
  width: 70vh;
}

.setting-size {
  width: 16vh;
}

.photo-profil-notif {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.navigation-btn {
  font-weight: bolder;
  color: rgba(255, 255, 255, 0.555);
}
.navigation-btn:hover {
  color: rgba(255, 255, 255, 0.842);
}

@media only screen and (max-width: 893px) {
  .media-invisible {
    visibility: hidden;
  }
}
.couverture {
  z-index: 0;
  margin: auto;
  display: block;
  width: 920px;
  height: 700px;
  border: 0.5mm solid black;
  cursor: pointer;
}

.menu-couverture {
  background: #eeeeee;
  height: 75px;
  margin: auto;
  width: 96vh;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.menu-profil {
  border-bottom: 0.1mm solid lightgray;
  transition: 0.2s all;
  font-weight: bolder;
}
.menu-profil:hover {
  border-bottom: 0.5mm solid #654da8;
  transition: 0.2s all;
}

.mini-photo-profil {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border: 1mm solid #c9c9c9;
}
.mini-photo-profil:hover {
  border: 1mm solid #fcfcfc;
  transition: 0.2s all;
}

#photo-profil {
  border: 2mm solid white;
  margin: -75px 0px 0px 65px;
  width: 150px;
  height: 150px;
  cursor: pointer;
}

.pseudo-profil {
  margin: auto;
  margin-left: 20vh;
}

.ace:hover {
  animation: pulse ease-out 2s forwards infinite;
  -moz-animation: pulse ease-out 2s forwards infinite;
  -o-animation: pulse ease-out 2s forwards infinite;
  -webkit-animation: pulse ease-out 2s forwards infinite;
  filter: grayscale(1);
  transition: 0.2s all;
  -webkit-transition: 2s all;
}

.card-size {
  width: 1000px;
  margin: auto;
}

.nom-profil {
  font-size: 20px;
  font-weight: bolder;
}

.margin-apropos {
  margin-top: 100px;
}

.card-title {
  font-size: 18px;
}

nav ul li h2 {
  font-size: 30px;
  font-weight: bolder;
  color: #4b4b4b;
}

.text-right {
  float: left;
  display: flex;
}

.galery-photos {
  height: 200px;
  width: 250px;
  cursor: pointer;
}

.like:hover {
  color: #654da8;
}

.red-popin {
  display: block;
  width: 8px;
  height: 8px;
  background: #c92c2c;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 99;
  transform-origin: center;
  -o-transform-origin: center;
  -moz-transform-origin: center;
  -webkit-transform-origin: center;
  transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transform: scale(0);
  animation: popin 0.3s ease-in forwards;
}

.card-size-fil {
  width: 600px;
  margin: 10px auto;
}

.photo-fil-actualite {
  box-shadow: 0.2px 0.2px 0.2px 0.2px grey;
}

.cursor {
  cursor: pointer;
}

.time-post {
  margin: -28px 0px 0px 75px;
}

.btn {
  font-family: "Lato", Calibri, verdana, sans-serif;
  font-weight: bolder;
  border: none;
  color: #000;
  text-decoration: none;
}

button.btn {
  width: 300px;
  text-transform: uppercase;
  padding: 25px 80px;
  margin: 15px 30px;
  overflow: hidden;
  position: relative;
  background: transparent;
  margin: auto;
}

button:before {
  left: 48%;
}

button:active {
  transition: 0.1s all;
}

button > span {
  display: inline-block;
  transition: all 0.3s;
}

.icon-down:before {
  content: "↓";
  position: absolute;
}

.btn-2:before {
  top: -100%;
  transition: all 0.3s;
}

.btn-2:hover:before {
  top: 30%;
}

.btn-2:hover > span {
  transform: translateY(300%);
}

.footer-copy {
  background: #242424;
  padding: 10px 0 10px;
  color: white;
}

@media only screen and (max-width: 893px) {
  #photo-profil {
    border: 2mm solid white;
    margin: -75px 0px 0px 20px;
    width: 150px;
    height: 150px;
    cursor: pointer;
  }

  .pseudo-profil {
    margin: auto;
    margin-left: 5vh;
    font-size: 10px;
  }

  .nom-profil {
    font-size: 15px;
    font-weight: bolder;
  }

  .mini-photo-profil {
    height: 60px;
    width: 60px;
    border-radius: 50px;
    border: 1mm solid #c9c9c9;
  }
  .mini-photo-profil:hover {
    border: 1mm solid #fcfcfc;
    transition: 0.3s all;
  }

  .card-size {
    width: 370px;
    margin: auto;
  }

  .margin-apropos {
    margin-top: 135px;
  }

  .card-title {
    font-size: 18px;
  }

  li.container {
    margin: 10px auto;
  }

  .menu-profil {
    border-bottom: 0.1mm solid #654da8;
    transition: 0.2s all;
    font-weight: bolder;
    font-size: 1px;
  }
  .menu-profil:hover {
    border-bottom: 0.5mm solid #654da8;
    transition: 0.2s all;
  }

  .galery-photos {
    height: 200px;
    width: 350px;
    cursor: pointer;
  }

  .card-size-fil {
    width: 300px;
    margin: 10px auto;
  }
}

/*# sourceMappingURL=style.css.map */
